@model AsyncShopBridge.Models.ShopItem

@{
    ViewBag.Title = "Product Details|ShopBridge";
}

<h2>Product Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal focus ">
        <dt>
            <label>Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            <label>Price</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            <label>Description</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
           <label>Quantity</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productQuantity)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("<-Back to List", "Index", null, new { @class = "btn btn-info" })|
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
</p>
