@model IEnumerable<AsyncShopBridge.Models.ShopItem>
@using AsyncShopBridge.Models;
@using MvcApplication8.Models;

@{
    ViewBag.Title = "ShopBridge";
}

<h2>ShopBridge Product List</h2>

<p>
    @Html.ActionLink("Add Product", "Create", null, new { @class = "btn btn-info" })
</p>
<div style="font-family:Arial">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">
                    <label>#</label>
                </th>
                <th scope="col" style="text-align:center">
                    <label>Name</label>
                </th>
                <th scope="col" style="text-align:center">
                    <label>Price</label>
                </th>
                <th scope="col" width="20%" style="text-align:center">
                    <label>Description</label>
                </th>
                <th scope="col" style="text-align:center">
                    <label>Quantity </label>
                </th>
                <th scope="col" style="text-align:center">
                    <label>Image </label>
                </th>
                <th scope="col" style="text-align:center">
                    <label>Action</label>
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productPrice)
                </td>
                <td style="text-align:justify">
                    @Html.DisplayFor(modelItem => item.productDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productQuantity)
                </td>
                <td>
                    @Html.Image("/Images/1.png","alt","100")
                </td>
                <td style="text-align:justify" class="btn-toolbar">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>